%%% -*- mode: erlang -*-

{require_min_otp_vsn, "R15"}.

{erl_opts, [warnings_as_errors, warn_shadow_vars, warn_obsolete_guard]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{deps, [{qc, "2.0.*", {git, "git://github.com/norton/qc.git", {branch, "dev"}}}
       , {ubf, "2.2.*", {git, "git://github.com/ubf/ubf.git", {branch, "dev"}}}
       , {abnfc, "0.6.*", {git, "git://github.com/ubf/abnfc.git", {branch, "dev"}}}
       , {mochiweb, "2.13.*", {git, "git://github.com/ubf/mochiweb.git", {branch, "dev"}}}
       , {ubf_abnf, "0.3.*", {git, "git://github.com/ubf/ubf-abnf.git", {branch, "dev"}}}
       , {ubf_bertrpc, "1.1.*", {git, "git://github.com/ubf/ubf-bertrpc.git", {branch, "dev"}}}
       , {ubf_eep8, "1.1.*", {git, "git://github.com/ubf/ubf-eep8.git", {branch, "dev"}}}
       , {ubf_jsonrpc, "1.1.*", {git, "git://github.com/ubf/ubf-jsonrpc.git", {branch, "dev"}}}
       , {ubf_redis, "1.1.*", {git, "git://github.com/ubf/ubf-redis.git", {branch, "dev"}}}
       , {ubf_thrift, "1.1.*", {git, "git://github.com/ubf/ubf-thrift.git", {branch, "dev"}}}
       , {hello_world, "1.0.*", {git, "git://github.com/ubf/hello-world.git", {branch, "dev"}}}
       ]}.
